body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 40px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

a {
  text-decoration: none;
}
a:visited {
  color: #8b0000;
}
a:hover {
  color: #5f9ea0;
}

body p,
body ul {
  line-height: 30px;
}
.flex {
  display: flex;
}

.greeting {
  margin-right: 60px;
}
.flex .greeting {
  flex-grow: 3;
}
.flex img {
  flex-grow: 1;
  padding: 20px;
}
h2 {
  font-size: 32px;
  margin-top: 1.5em;
}
.greeting h1 {
  font-size: 92px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.greeting p {
  font-size: 26px;
  margin-top: 0px;
}

.contacts ul {
  line-height: 36px;
  padding-top: 124px;
  padding-left: 0;
  list-style: none;
}
.contacts p {
  font-size: 18px;
  display: inline;
}
.information p {
  text-indent: 30px;
  margin-bottom: 0;
  margin-top: 0;
}
.qualities ul {
  margin-top: 0;
}
