body {
  font-family: var(--font-family-main);
  font-size: 1.125rem;
  margin: 40px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}
body a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #800080;
}
a:hover {
  color: #8b0000;
  text-decoration: underline;
}

body p,
body ul {
  line-height: 30px;
}
.flex {
  display: flex;
  margin-top: 60px;
}

.greeting {
  margin-right: 60px;
}
.flex .greeting {
  flex-grow: 3;
}
.flex img {
  position: relative;
  z-index: -1;
  flex-grow: 1;
  padding: 20px;
  max-height: 570px;
}
h2 {
  font-size: 32px;
  padding-top: 0.6em;
  margin-top: 0;
}
.greeting h1 {
  position: relative;
  z-index: -1;
  font-size: 92px;
  line-height: 100px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.greeting p {
  font-size: 32px;
  margin-top: 0px;
}
.greeting a {
  padding-left: 10px;
  padding-right: 10px;
}

.contacts ul {
  line-height: 36px;
  padding-top: 20px;
  padding-left: 0;
  list-style: none;
}
.contacts p {
  font-size: 19px;
  display: inline;
}
.information p {
  margin-bottom: 0;
  margin-top: 10px;
}
.qualities ul {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.9rem;
}

.footer-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img {
  display: block;
  margin: 0 auto;
  /* padding-top: 10px; */
}

.nav {
  margin-bottom: 50px;
  padding: 30px 0px;
  position: fixed;
  top: 0;
  background: #ffffff;
  background-size: cover;
}

.nav a {
  color: #000;
  font-size: 21px;
  padding: 10px 6px;
  margin-right: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
.nav a:hover {
  box-shadow: 0 0 6px 1px #a9a9a9;
  transition: 0.2s;
  transition-timing-function: ease-in;
}

.anchor {
  padding-top: 79px;
}

.top {
  position: fixed;
  right: 40px;
  bottom: 10px;
}

.btn {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #c0c0c0;
  border-radius: 0.6em;
  color: #000000;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 8px 8px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.top {
  background-image: -webkit-linear-gradient(
    45deg,
    #d3d3d3 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, #f5f5f5 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.top:hover {
  background-position: 0;
}

@media (max-width: 1000px) {
  .flex img {
    margin: 10px 0px;
    top: 20px;
  }
  .nav {
    padding-bottom: 10px;
  }

  .nav a {
    font-size: 20px;
    padding: 8px 4px;
    line-height: 35px;
  }
  .greeting h1 {
    top: 35px;
  }
  body {
    padding-left: 14px;
  }
}

@media (max-width: 800px) {
  .media-size {
    width: 760px;
  }
  .greeting h1 {
    top: 40px;
  }
  .flex img {
    /* height: 100px; */
  }
}

@media (max-width: 500px) {
  .media-size {
    width: 500px;
  }
  .greeting {
    margin-right: 20px;
    line-height: 60px;
  }
  .greeting h1 {
    font-size: 56px;
    line-height: 50px;
  }
  .greeting p {
    padding-top: 40px;
  }
