body {
  font-family: var(--font-family-main);
  font-size: 1.125rem;
  margin: 40px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}
body a {
  text-decoration: none;
}
a:visited {
  color: #800080;
}
a:hover {
  color: #8b0000;
  text-decoration: underline;
}

body p,
body ul {
  line-height: 30px;
}
.flex {
  display: flex;
}

.greeting {
  margin-right: 60px;
}
.flex .greeting {
  flex-grow: 3;
}
.flex img {
  flex-grow: 1;
  padding: 20px;
}
h2 {
  font-size: 32px;
  margin-top: 1.5em;
}
.greeting h1 {
  font-size: 92px;
  line-height: 100px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.greeting p {
  font-size: 32px;
  margin-top: 0px;
}
.greeting a {
  padding-left: 10px;
  padding-right: 10px;
}
.contacts ul {
  line-height: 36px;
  padding-top: 20px;
  padding-left: 0;
  list-style: none;
}
.contacts p {
  font-size: 19px;
  display: inline;
}
.information p {
  /* text-indent: 30px; */
  margin-bottom: 0;
  margin-top: 10px;
}
.qualities ul {
  margin-top: 0;
  line-height: 1.9rem;
}

.footer-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img {
  display: inline-block;
  margin: 0 auto;
  margin-left: 440px;
  padding-top: 10px;
}
a img:hover {
  border: 1px solid #8b0000;
}
.nav {
  margin-bottom: 50px;
  /* background: center
    url("./images/beautiful-tropical-leaves-white-background-poster-banner-postcard-template.jpg");
  background-size: cover;
  background-repeat: repeat; */
}

.nav a {
  color: #000;
  font-size: 21px;
  padding: 4px 6px;
  margin-right: 18px;
  text-transform: uppercase;
  text-decoration: none;
  /* box-shadow: 0 0 0 1px; */
}
.nav a:hover {
  box-shadow: 0 0 0 1px;
}
